#server {
#    listen 80;
#    server_name www.##FQDN##;
#    rewrite ^ http://##FQDN##$uri permanent;
#
#    access_log off;
#    access_log ##WWW_PATH##/##FQDN##/logs/##FQDN##-acc main;
#    error_log ##WWW_PATH##/##FQDN##/logs/##FQDN##-err;
#}

server {
    listen 80;
    server_name ##FQDN## www.##FQDN##;

    access_log off;
    #access_log ##WWW_PATH##/##FQDN##/logs/##FQDN##-acc main;
    error_log ##WWW_PATH##/##FQDN##/logs/##FQDN##-err;

    client_max_body_size 256m;

    location / {
	proxy_pass http://127.0.0.1:8080;
	proxy_set_header Proxy "";
	proxy_redirect off;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	
	proxy_read_timeout 300;
	proxy_buffer_size 16k;
	proxy_buffers 32 16k;
    }

    location ~* \.(jpg|jpeg|gif|png|tif|tiff|bmp|svg|ico|js|css|zip|tgz|gz|tar|rar|bz2|rtf|doc|docx|xls|xlsx|ppt|pptx|exe|pdf|txt|mid|midi|swf|flv|avi|djvu|wav|mp3|ogg|mp4|mpg|mpeg|mov|wmv|wma|webm|ogv|ogg|3gp|otf|woff|woff2|eot)$ {
	expires 7d;
	access_log off;
	log_not_found off;
	root ##WWW_PATH##/##FQDN##/htdocs;
    }

    include vhost.inc.conf;
}
