# Какие будем обрабатывать конфиги
NGINX_CONF=/etc/nginx/vhosts.d/*.conf

# true если нужно отправлять почту при активации модуля
MAIL_ACTIVATE=""

# Через сколько минут после активации и непрерывной работы модуля отправить письмо
ENABLE_TIME_ALERT=15

# true если нужно отправлять алерт через ENABLE_TIME_ALERT минут после непрерывной работы модуля
MAIL_TIME_ALERT=true

# Куда отправить письмо
MAILTO=root

# При каком LA активируем модуль
LA_ACTIVATE=15

# При каком LA deактивируем модуль
LA_DEACTIVATE=5

# При каком кол-ве коннектов к nginx активируем модуль
TRIGGER_CONNECT=2000
