PORTS="5432"

# Maintenance window. Set the equal for off
BEGINMAINT_s="02:00:00"
ENDMAINT_s="02:00:00"
# Thresholds
REGULAR_LAG_THRESHOLD_WARNING=300
REGULAR_LAG_THRESHOLD_CRITICAL=600
MAINTENANCE_LAG_THRESHOLD=2000
